[submodule "TensorRT-LLM"]
	path = TensorRT-LLM
	url = https://github.com/NVIDIA/TensorRT-LLM
[submodule "sherpa"]
	path = sherpa
	url = https://github.com/k2-fsa/sherpa
[submodule "Triton-ASR-Client"]
	path = Triton-ASR-Client
	url = https://github.com/yuekaizhang/Triton-ASR-Client
